
#cnv{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: block;
  margin: auto;
}

.header{
    background: rgb(53, 51, 118);
    border-color: black;
    border-width: 2px;
    height: auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Microsoft JhengHei Light";
    position: fixed;
    left: 0;
    top: 0;
    padding: 5px;
    border-spacing: 5px 5px;
	  z-index: 5;
    margin: auto;
}

div{
  display: block;
  text-align: center;
  margin-left: 487px;
	margin-right: 487px;
}


.welcome1{
    text-transform: uppercase;
    background: rgb(53, 51, 118);
    font-family: "Microsoft JhengHei Light";
    color: white;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    left: 0;
    font-size: 40px;
    text-align: center;
    width: 100%;
    z-index: 4;
}

/*				espaco das informacoes				*/

p{
	text-align: center;
	font-size: 25px;

}







/* 						cabecalho					   */

li{
	color: white;
    font-size: 40px;
    text-transform: uppercase;
	letter-spacing: 2px;
    padding: 0 40px;
	display: inline-block;
}

a:link, a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: grey;
}

a:active{
	color: grey;
	text-decoration: none;
}

/* 					font 					*/



/*						tabela						*/




.button {
    background: rgb(0, 201, 136);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 40px;
}

.button1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=text] {
    width: 50px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 2px;
}

input[type=text]:focus {
    border: 2px solid black;
}

table {
	background-attachment: center;
	box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

	z-index: 2;

    font-family: "Microsoft JhengHei Light";
}

td {
  margin-bottom: auto;
  margin-top: auto;
    padding: 10px;
    text-align: center;
}

body {
    text-align: center;
    font-family: "Microsoft JhengHei Light";
    min-width: 320px;
    color: #000;
    background-color: 'white';
}
